# ---------------------------------- Folders --------------------------------- #
**/.venv
**/__pycache__
**/.dev

# ---------------------------------- Files ----------------------------------- #
Content.json
Settings.json