{% extends "Base.html" %}

{% block content %}
<div class="forms-content-page">
	<h1 class="page-heading">Inhalt bearbeiten</h1>
    <div class="page-content">
        <form id="textContentForm">
            <div class="mb-3">
                <label for="title" class="form-label">Titel</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ content.title }}">
            </div>
            <div class="mb-3">
                <label for="duration" class="form-label">Anzeigedauer (Sekunden)</label>
                <input type="number" class="form-control" id="duration" name="duration" value="{{ content.duration }}">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Text</label>
                <input type="text" class="form-control" id="content" name="text" value="{{ content.content.text }}">
            </div>
        </form>

        <form id="imageContentForm">
            <!-- Image content form elements go here -->
        </form>

        <form id="imageTextContentForm">
            <!-- ImageText content form elements go here -->
        </form>

        <form id="videoContentForm">
            <!-- Video content form elements go here -->
        </form>

        <form id="slideshowContentForm">
            <!-- Slideshow content form elements go here -->
        </form>

        <form id="pdfContentForm">
            <!-- PDF content form elements go here -->
        </form>

        <form id="excelContentForm">
            <!-- Excel content form elements go here -->
        </form>

        <form id="programContentForm">
            <!-- Program content form elements go here -->
        </form>

        <form id="birthdayContentForm">
            <!-- Birthday content form elements go here -->
        </form>

        <form id="weatherContentForm">
            <!-- Weather content form elements go here -->
        </form>

        <form id="newsContentForm">
            <!-- News content form elements go here -->
        </form>

        <form id="gameContentForm">
            <!-- Game content form elements go here -->
        </form>
        <button type="button" class="btn btn-primary" id="saveButton">Speichern</button>
    </div>
</div>

<!-- Toast -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="updatedToast" class="toast bg-success text-white" role="alert">
        <div class="toast-body">
            Inhalt wurde erfolgreich aktualisiert.
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const content = {{ content | tojson }};
</script>
<script src="{{ url_for('static', filename='Js/EditContent.js') }}"></script>
{% endblock %}