{% extends "Base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block content %}
<div class="forms-content-page">
	<h1 class="page-heading">Inhalte verwalten</h1>
	{% if content %}
		<label for="sortableList" class="form-label page-content">Inhalte ziehen um Reihenfolge zu wechseln!</label>
	{% else %}
		<p class="page-content">Noch keine Inhalte erstellt</p>
	{% endif %}
	<div id="sortableList" class="list-group page-content mb-5">
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const content = {{ content | tojson }};
</script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="{{ url_for('static', filename='Js/ManageContent.js') }}"></script>
{% endblock %}