{% extends "Base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block additionalButtons %} 
<button id="toggleFreezeButton" class="btn btn-dark rounded-circle navbar-button">
    <i class="bi bi-snow in-button-icon"></i>
</button>
<button id="previousContentButton" class="btn btn-dark rounded-circle navbar-button">
    <i class="bi bi-chevron-left in-button-icon"></i>
</button>
<button id="nextContentButton" class="btn btn-dark rounded-circle navbar-button">
    <i class="bi bi-chevron-right in-button-icon"></i>
</button>
{% endblock %}

{% block content %}

{% endblock %}

{% block scripts %}
<script>
    const content = {{ content | tojson }};
</script>
<script src="{{ url_for('static', filename='Js/ShowContent.js') }}"></script>
{% endblock %}
