{% extends "Base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block additionalButtons %} 
<button id="toggleFreezeButton" class="btn btn-dark rounded-circle navbar-button">
    <i class="bi bi-snow in-button-icon"></i>
</button>
<button id="previousContentButton" class="btn btn-dark rounded-circle navbar-button">
    <i class="bi bi-chevron-left in-button-icon"></i>
</button>
<button id="nextContentButton" class="btn btn-dark rounded-circle navbar-button">
    <i class="bi bi-chevron-right in-button-icon"></i>
</button>
{% endblock %}

{% block content %}
<div id="textContent" style="display: none;"></div>
<div id="imageContent" style="display: none;"></div>
<div id="imageTextContent" style="display: none;"></div>
<div id="videoContent" style="display: none;"></div>
<div id="slideshowContent" style="display: none;"></div>
<div id="pdfContent" style="display: none;"></div>
<div id="excelContent" style="display: none;"></div>
<div id="programContent" style="display: none;"></div>
<div id="birthdayContent" style="display: none;"></div>
<div id="weatherContent" style="display: none;"></div>
<div id="newsContent" style="display: none;"></div>
<div id="gameContent" style="display: none;"></div>
{% endblock %}

{% block scripts %}
<script>
    const content = {{ content | tojson }};
</script>
<script src="{{ url_for('static', filename='Js/ShowContent.js') }}"></script>
{% endblock %}
