[Unit]
Description=Autostart Browser Service
After=network.target

[Service]
ExecStart=/usr/bin/firefox --kiosk %SERVER_IP%
Restart=always

[Install]
WantedBy=default.target
