[Unit]
Description=Autostart Gesture Recognition Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 %INSTALL_DIR%/Modules/GestureRecognition/GestureRecognition.py
Restart=always
User=%u

[Install]
WantedBy=default.target
