[Unit]
Description=Launch Vivaldi in Kiosk Mode
After=graphical.target

[Service]
ExecStart=/usr/bin/vivaldi --kiosk https://blank.org
Restart=always

[Install]
WantedBy=graphical.target
