[Unit]
Description=Autostart Server Service
After=network.target

[Service]
WorkingDirectory=/home/silas/Dev/InfoDisplay
ExecStart=/home/silas/Dev/InfoDisplay/.venv/bin/python3 /home/silas/Dev/InfoDisplay/Server/FlaskServer.py
Restart=always

[Install]
WantedBy=default.target
